<%= image_tag("target_icon.png", :class => "target-icon") %>
<h3 class="welcome-info-header">CREATE NEW TARGET</h3>

<%= form_for @target, url: targets_path do |form| %>

  <%= render partial: 'form', :locals => {:form => form } %>

  <div class="actions">
    <%= form.submit "SAVE TARGET", :class => "submit-button"  %>
  </div>
<% end %>

<%= image_tag("smilies.png", :class => "smilies") %>

