<div class="field">
  <%= form.label "Specify area length", :class => "field-label" %><br />
  <%= form.text_field :radius, autofocus: true, :class => "field-input" %>
</div>

<div class="field">
  <%= form.label "Target title", :class => "field-label" %><br />
  <%= form.text_field :title, :class => "field-input" %>
</div>

<%= form.hidden_field :latitude %>
<%= form.hidden_field :longitude %>
<%= form.hidden_field :topic_id %>
<%= form.hidden_field :id %>

<div class="field">
  <%= form.label "Select a topic", :class => "field-label" %><br />
  <table id="topic-table" class="topic-table">
    <% @topics.each do |topic| %>
      <tr topic-id=<%= topic.id %>>
        <td>
          <span style="float: left;"><i><%= image_tag("#{topic.id}.png", :class => "topic-icon")  %></i></span>
          <%= topic.name %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
