<% if matches.any? %>
  <h3 class="target-mvd">
    Matches
  </h3>
  <table class="matches-table">
    <th>Start a conversation with:</th>
    <% @matches.each do |match| %>

          <% if current_user.id != match.user_a_id %>
            <tr user-id=<%= match.user_a_id %> >
              <td>
                <%= match.user_a.name %> about <%= match.topic.name %>
          <% else %>
            <tr user-id=<%= match.user_b_id %> >
              <td>
                <%= match.user_b.name %> about <%= match.topic.name %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

<% else %>

  <% if target_count == 0 %>
    <h3 class="target-mvd">
      Create your first target by clicking wherever on the map.
    </h3>
    <h3 class="welcome-info-header">
      Pss! these are the most popular targets:
    </h3>

    <table style="text-align: center; width: 100%;">
      <tr>
        <td>
          <span><i><%= image_tag("1.png", :class => "topic-icon")  %></i></span>
          Football
        </td>
      </tr>
      <tr>
        <td>
          <span><i><%= image_tag("6.png", :class => "topic-icon")  %></i></span>
          Music
        </td>
      </tr>
      <tr>
        <td>
          <span><i><%= image_tag("7.png", :class => "topic-icon")  %></i></span>
          Movies
        </td>
      </tr>
    </table>
  <% else %>
    <h3 class="target-mvd">
      There are no matches for your targets yet.
    </h3>
  <% end %>

<% end %>

<%= image_tag("smilies.png", :class => "smilies", :style => "margin-top: 200px;") %>
