<!DOCTYPE html>
<html>
  <head>
    <title>Target MVD</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Open+Sans' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'home.js' %>
  </head>
  <body style="margin: 0;">
    <p class="navbar-text pull-right">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <!-- <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> | -->
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <!-- <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link show-sign-up'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link show-sign-in'  %> -->
      <% end %>
    </p>
	  <%= yield %>
  </body>
</html>
